$required-color: #D55B76;
$label-color: rgb(125, 125, 125);
$text-color: #535876;
$bg-color: #eff0f3;
$placeholder-color: rgb(169, 169, 169);

.form-wrapper {
  background: white;
  padding: 30px 20px 20px 20px;
  .form-field-wrapper {
    .error-text {
      font-size: 14px;
      margin-bottom: 15px;
      margin-top: -15px;
      color: #D55B76;
    }
    .form-field{
      .required {
        margin-left: 3px;
        font-size: 8px;
        color: $required-color;
      }
      .label {
        font-size: 13px;
        color: $label-color;
      }
      input,
      textarea {
        font-size: 14px;
        color: $text-color;
        background: $bg-color;
        resize: none;
        outline: none;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &::placeholder {
          font-size: 12px;
          color: $placeholder-color;
        } 
      }

      // Radio button CSS
      .radio {
        display: inline-flex;
        padding: 10px 0px;
        margin: 0px;
        li {
          float: left;
          list-style-type: none;
          padding: 0px 10px;
        }
        .radio-label-text {
          font-size: 13px;
        }
        input {
          cursor: pointer;
          height: 10px;
          width: 10px;
        }
      }

      // React-select css
      .Select {
        margin-bottom: 20px;
        outline:none;
        
        .Select__control {
          outline:none;
          height: 39px;
          border: none;
          border-radius: 0px;
          box-shadow: none;
          background: $bg-color;
          cursor: pointer;

          .Select__value-container {
            height: 39px;
            padding: 0px;
            position:static;
            .Select__placeholder {
              font-size: 13px;
              top: 57%;
              padding: 5px 10px;
              color: $placeholder-color;
            }
            .Select__input {
              font-size: 13px;
              padding: 5px 10px 5px 7px;
              color: $text-color;
            }
            .Select__single-value {
              font-size: 13px;
              top: 50%;
              left: 1.2%;
              color: $text-color;
            }
          }

          .Select__indicators {
            height: 39px;
            .Select__indicator-separator {
              display: none;
            }
            .Select__indicator {
              color: $text-color;
            }
          }
        }
        .Select__menu {
          margin: 0px;
          padding: 0px;
          border: 1px solid #eff0f3;
          border-radius: 0px;
          box-shadow: none;
          outline:none;
          // color: $text-color;
          // .select__menu-list {}
          .Select__option {
            padding: 5px 10px;
            margin: 0px;
            font-size: 13px;
          }
        }
      }
    }
  }
}