.popup-wrapper {
  padding: 25px;
  position: relative;
  height: 100%;
  color: $navbar-bg-color;

  table {
    border: none;
    margin: 20px 0px;
    th, td {
      color: $navbar-bg-color;
      background: transparent;
    }
    tr, td, tbody {
      background: transparent;
    }
  }
  table tbody tr {
    background: transparent;
  }
  .bg-color {
    background: #e8e8ea;
  }

  .bill-info {
    text-align: right;
  }

  .bar-bottom {
    position: sticky;
	  bottom: 0;
    left: 0;
	  width: 100%;
	  display: flex;
    padding: 20px 0px;
    justify-content: flex-end;
    .bar-btn {
      padding: 7px 10px 10px 10px;
      background-color: $navbar-bg-color;
      min-width: 200px;
      height: 40px;
      color: white;
      cursor: pointer;
      text-align: center;
      opacity: 0.7;

      &:hover {
        box-shadow: $default-box-shadow;
      }
    }
    .confirm-btn {
      margin-right: 20px;
      &:hover {
        opacity: 1;
      }
    }
    .cancel-btn {
      opacity: 0.6;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .border-bottom-cell {
    border-bottom: 1px dashed #c7b8b8;
  }
  .less-opacity {
    opacity: 0.8;
  }
}