// Navigation bar
$navbar-bg-color: #393d54;
$navbar-font-color: white;
$navbar-height: 61px;

// Main content
$main-content-bg-color: #eff0f3;
$item-title-bg-color: #8e92ad;
$item-button-wrapper-bg-color: #faab46;

$default-box-shadow: 0px 3px 7px 0px rgba(19, 19, 20, 0.35)